<div class="background-full">
  <div class="game-intro" style=" width: 100%!important;">
    <a class="restart-button"
       style="
      width: 35%;
    box-sizing: border-box;
    margin-top: 2px;
    background: #8f7a66;
    border-radius: 3px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
}" (click)="closePopup(1)">Game mới</a>
    <div style="width: 60%">
      <h2 class="subtitle">Chơi <strong>Game 2048</strong></h2>
      <h4>Tham gia các con số và đến <strong>2048!</strong></h4>
      <div class="score-level">
        <h4>Score: {{sumCount}}</h4>
        <h4>Level: {{level}}</h4>

        <div class="stop-watch">
          <h4>Time: </h4>
          <div class="display">{{format(mm)}}:{{format(ss)}}:{{format(ms)}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="field">
    <div class="place__line" *ngFor="let place of places">
      <div class="place__elem" *ngFor="let pl of place" [style.background-color]="pl ? color(pl) : null">
        <div>
          {{pl}}
        </div>

      </div>
    </div>
  </div>
</div>
<div class="popup-noti-order" [ngClass]="win ? 'show' : ''">
  <a class="bg" (click)="win = false"></a>
  <div class="content-popup">
    <a class="button-close" (click)="win = false">
      <img
        src="https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/sale-hifpt/btn-close-popup.svg"
        alt=""
        width="auto"
        height="auto"
      />
    </a>
    <div class="title"><h3> Game Win!</h3></div>
    <div class="content">
      <div class="row name-event">
        <span>Tổng điểm bạn đã kiếm được: {{sumCount}}</span><br>
        <span>Bạn đạt móc level: {{level}}</span><br>
        <span>Bạn hoàn thành game trong: {{format(mm)}}:{{format(ss)}}:{{format(ms)}}</span><br>
      </div>
    </div>
    <div class="bottom">
      <div class="col-done" (click)="closePopup(0)">Đóng</div>
      <div class="col-reset" (click)="closePopup(1)"> Chơi lại</div>

    </div>

  </div>
</div>
<div class="popup-noti-order" [ngClass]="gameOver ? 'show' : ''">
  <a class="bg" (click)="gameOver = false"></a>
  <div class="content-popup">
    <a class="button-close" (click)="gameOver = false">
      <img
        src="https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/sale-hifpt/btn-close-popup.svg"
        alt=""
        width="auto"
        height="auto"
      />
    </a>
    <div class="title"><h3> Game Over!</h3></div>
    <div class="content">
      <div class="row name-event">
        <span>Tổng điểm bạn đã kiếm được: {{sumCount}}</span><br>
        <span>Bạn đạt móc level: {{level}}</span><br>
        <span>Bạn hoàn thành game trong: {{format(mm)}}:{{format(ss)}}:{{format(ms)}}</span><br>
        <span>Hãy cố gắng thêm nha!</span>
      </div>
    </div>
    <div class="bottom">
      <div class="col-done" (click)="closePopup(0)">Đóng</div>
      <div class="col-reset" (click)="closePopup(1)"> Chơi lại</div>

    </div>

  </div>
</div>
